export CGO_ENABLED=1
export GO111MODULE=on
export ANDROID_SDK_HOME=${HOME}/Library/Android/sdk
export ANDROID_NDK_HOME=${ANDROID_SDK_HOME}/ndk/latest
PATH_add ${HOME}/go/bin

PATH_add $ANDROID_NDK_HOME
PATH_add ${ANDROID_SDK_HOME}/platform-tools
PATH_add ${ANDROID_SDK_HOME}/cmdline-tools/latest/bin
PATH_add ${ANDROID_SDK_HOME}/emulator
